{% extends 'all-info/base.html' %}
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
<link rel="stylesheet" href="{% static 'css/display.css' %}">
{% endblock %}
    <title>Document</title>
</head>
<body>
    {% block content %}
    {{block.super}}

        {% for posts in post %}
        <div class="cards">
                <div class="card" style="width: 400px;" >
                <a href="{% url 'post-detail' posts.id %}"><img style="height:450px; width: 400px;" src="{{posts.image.url}}"></a> <br>
                <div class="card-body"><hr>
                    <h4 class="card-title">
                        Name:{{posts.image_name}}<br>
                    </h4>
                    <p class="card-title">
                        Click on the image to get the details
                    </p><hr>
                    <div class="card-text">
                        <form action="{% url 'like_post'%}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{posts.id}}">
                            {% if user not in posts.image_likes.all %}
                            <button type="submit"><i class="far fa-heart">Like</button></i>
                            {% else %}  
                                <button type="submit"><i class="fas fa-heart">Unlike</button></i> 
                            {% endif %}     
                        </form>
                        <br>
                        <strong>{{posts.image_likes.all.count}} Likes</strong>
                    </div>
                </div>
            </div>
        </div>       
    {% endfor %}

    {% endblock %}
    {% block scripts %}
    <script src="https://kit.fontawesome.com/b6a799f222.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
{% endblock %}
    
</body>
</html>



